body {
    background-color: white;
}

h1 {
    width: 100%;
    position: fixed;
    top: 0;
    margin-top: 0;
    background-color: skyblue;
    text-align: center;
}
h1, h3, a {
    font-family: "Gill Sans", sans-serif;
}

.news-wrapper {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.news__item {
    margin: 0 10px 10px 10px;
    padding: 5px 5px 5px 40px;
    border: 2px solid white;
    background-color: aliceblue;
    width: 33%;
}